<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <display-name>Web Application Lab - Dhiraj Bag, 001911001033</display-name>

    <servlet>
      <servlet-name>Chat</servlet-name>
      <servlet-class>ChatServer</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Chat</servlet-name>
      <url-pattern>/chat/{name}</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Hello</servlet-name>
      <servlet-class>HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Hello</servlet-name>
      <url-pattern>/hello</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>GetDept</servlet-name>
		<servlet-class>GetDept</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetDept</servlet-name>
		<url-pattern>/servlet/GetDept</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetStudent</servlet-name>
		<servlet-class>GetStudent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetStudent</servlet-name>
		<url-pattern>/servlet/GetStudent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HelloStudent</servlet-name>
		<servlet-class>HelloStudent</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloStudent</servlet-name>
		<url-pattern>/servlet/HelloStudent</url-pattern>
	</servlet-mapping>	
	

</web-app>
